/* Full page container */
.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #eef2f7 100%);
}

/* Center Card */
.login-container {
  width: 90%;
  max-width: 380px;
  background: white;
  padding: 30px 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  position: relative;
}

/* Title */
.company-title {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: 700;
  color: #002d84;
  white-space: nowrap;
}

/* Inputs */
.login-form input {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  font-size: 16px;
  outline: none;
  transition: 0.2s ease;
  color: black;
}

.login-form input:focus {
  border-color: #002d84;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  background: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #333;
}

/* Register text */
.register-text {
  margin-top: 15px;
  color: #333;
  font-size: 15px;
}

.register-link {
  color: #002d84;
  font-weight: 600;
  text-decoration: none;
}

/* ---------- Mobile Responsive ---------- */
@media (max-width: 768px) {
  .login-page {
    background: #eef2f7;
  }

  .company-title {
    top: -80px;
    font-size: 28px;
  }

  .login-container {
    padding: 25px 20px;
    width: 90%;
  }
}
