/* Main Layout */
.user-container {
  display: flex;
  height: 100vh;
  background: #f5f9ff;
  overflow: hidden;
}

/* Sidebar */
.user-sidebar {
  width: 250px;
  background: #081b33;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.user-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.user-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.user-nav p {
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.3s;
}

.user-nav p:hover {
  opacity: 1;
  transform: translateX(5px);
}

.logout-btn {
  color: #ff6b6b;
  font-weight: bold;
}

/* MAIN CONTENT */
.user-main {
  padding: 3rem;
  flex: 1;
}

/* Welcome Section */
.user-welcome h1 {
  font-size: 2.4rem;
  color: #002b5c;
  margin-bottom: 0.3rem;
}

.user-welcome p {
  font-size: 1.1rem;
  color: #4a5568;
}

/* Loan Card Section */
.loan-card-section {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 2rem;
}

.loan-card {
  background: white;
  padding: 1.7rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  text-align: center;
  border-top: 5px solid #3b82f6;
}

.loan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.loan-icon {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}
.loan-card h3{
  font-size: 1.3rem;
  color: #002b5c;
  margin-top: 0.5rem;
  font-weight: bold;

}
